<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Calculator</title>

    <style>
        ul {
            margin: 20px 0;
            padding: 0;
            list-style: none;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Bitcoin Calculator</h1>
<form action="/" method="POST">
    <input type="number" name="bitcoinAmount" placeholder="Bitcoin amount">
    <select name="currency">
        <option value="EUR">EU Euro</option>
        <option value="USD">US Dollar</option>
    </select>
    <button type="submit">Submit</button>
</form>
<ul>
    <li><%= rate %></li>
    <li><%= calculatedResult %></li>
    <li><%= disclaimer %></li>
</ul>
</body>
</html>